openapi: 3.2.0
info:
  title: buzz Segment Tag API
  version: '0.5'
servers:
- url: https://buzz-key.api.beeswax.com/rest/
security:
- {}
tags:
- name: Segment Tag
paths:
  /segment_tag:
    get:
      summary: segment_tag
      description: The Segment Tag object allows you to get a tag to use on your website or application. This object only accepts GET requests.
      operationId: segment_tag
      parameters:
      - name: segment_id
        in: query
        description: Unique ID for the segment
        schema:
          type: integer
          format: int32
      - name: segment_name
        in: query
        description: Name for the segment
        schema:
          type: string
      - name: advertiser_id
        in: query
        description: Unique ID for the advertiser
        schema:
          type: integer
          format: int32
      - name: tag_type
        in: query
        description: The tag type to render, default is `js` for javascript tags.
        schema:
          type: string
          default: js
      - name: format
        in: query
        description: The format to return the tags, default is `none`. Optional values can include `csv`, `xml`, `xls`, `xlsx` and `json` If not set or set to `none` the tags will be returned in the standard API response. If set, a file with the content will be streamed to the output.
        schema:
          type: string
          default: none
      deprecated: false
      x-readme:
        code-samples:
        - language: curl
          code: curl -X GET "[host]/rest/segment_tag" -b cookies.txt -d '{"segment_id":1, "tag_type":"js", "format":"none"}'
        samples-languages:
        - curl
      tags:
      - Segment Tag
x-readme:
  headers: []
  explorer-enabled: true
  proxy-enabled: true
x-readme-fauxas: true
