openapi: 3.2.0
info:
  title: buzz Search API
  version: '0.5'
servers:
- url: https://buzz-key.api.beeswax.com/rest/
security:
- {}
tags:
- name: Search
paths:
  /search:
    get:
      summary: search
      description: ''
      operationId: search-get
      parameters:
      - name: object_id
        in: query
        description: The unique ID of the object that is being requested.
        schema:
          type: integer
          format: int32
      - name: object_type
        in: query
        description: The type of object required. e.g. "user" or "line_item"
        schema:
          type: string
      - name: object_name
        in: query
        description: The string to be searched for. For non-exact matches surround the query with % signs.
        schema:
          type: string
      deprecated: false
      x-readme:
        code-samples:
        - language: curl
          code: '#Search for Advertisers with the name ford

            curl -X GET "[host]/rest/search" -b cookies.txt -d ''{"object_type":"advertiser", "object_name":"%ford%"}''


            #Search for any object with the name ford

            curl -X GET "[host]/rest/search" -b cookies.txt -d ''{"object_name":"%ford%"}''


            #Search for Advertiser ID 123

            curl -X GET "[host]/rest/search" -b cookies.txt -d ''{"object_type":"advertiser", "object_id":123}'''
        samples-languages:
        - curl
      tags:
      - Search
x-readme:
  headers: []
  explorer-enabled: true
  proxy-enabled: true
x-readme-fauxas: true
