{
  "openapi": "3.1.0",
  "info": {
    "title": "buzz",
    "version": "0.5"
  },
  "servers": [
    {
      "url": "https://buzz-key.api.beeswax.com/rest/"
    }
  ],
  "components": {
    "securitySchemes": {}
  },
  "security": [
    {}
  ],
  "paths": {
    "/advertiser": {
      "post": {
        "summary": "advertiser",
        "description": "",
        "operationId": "advertiser-post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "advertiser_name"
                ],
                "properties": {
                  "advertiser_name": {
                    "type": "string",
                    "description": "Unique name for the advertiser, must be unique per account."
                  },
                  "attributes": {
                    "type": "object",
                    "description": "Creative attributes in JSON.",
                    "properties": {
                      "<module_name>": {
                        "type": "object",
                        "description": "The overall statement can include any number of modules, but each module may only appear once. Example of a module is `advertiser`",
                        "properties": {
                          "<key>": {
                            "type": "array",
                            "description": "Key must belong to the module selected, the value must be a list of one or more values corresponding to the key. Values may be integers or strings depending on the key.",
                            "items": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    }
                  },
                  "conversion_method_id": {
                    "type": "integer",
                    "description": "The conversion attribution to use for Events owned by this Advertiser. Must be a valid attribution method as found in the conversion_atrtibution_methods view. At this time only method 1 (last click) is supported. Once a conversion method is chosen, it cannot be changed.",
                    "default": 1,
                    "format": "int32"
                  },
                  "default_click_url": {
                    "type": "string",
                    "description": "Click URL to use by default for objects created under this advertiser"
                  },
                  "default_continent": {
                    "type": "string",
                    "description": "Continent in which this Advertiser's Campaigns should be eligible to serve. Can be changed at the Campaign level.",
                    "default": "NAM"
                  },
                  "default_currency": {
                    "type": "string",
                    "description": "Currency to use as default for all Campaigns under this Advertiser",
                    "default": "USD"
                  },
                  "default_creative_thumbnail_url": {
                    "type": "string",
                    "description": "URL of a thumbnail image to use when a Creative does not have one. This is useful since some exchanges may not allow a Creative to run without a thumbnail.",
                    "default": "URL of a thumbnail image to use when a Creative does not have one. This is useful since some exchanges may not allow a Creative to run without a thumbnail."
                  },
                  "default_campaign_preset_id": {
                    "type": "integer",
                    "description": "The preset to use by default for all campaigns created under this advertiser. Note, presets can only be created in the UI.",
                    "format": "int32"
                  },
                  "default_line_item_preset_id": {
                    "type": "integer",
                    "description": "The preset to use by default for all line items created under this advertiser. Note, presets can only be created in the UI.",
                    "format": "int32"
                  },
                  "enable_skad_tracking": {
                    "type": "boolean",
                    "description": "Should Apple's SKAdNetwork tracking be enabled for this advertiser. If set to true, the `advertiser_app_bundle` elements of the `attributes` must be set.",
                    "default": false
                  },
                  "alternative_id": {
                    "type": "string",
                    "description": "An alternative id to associate, if desired"
                  },
                  "notes": {
                    "type": "string",
                    "description": "Any notes desired, less than 255 chars"
                  },
                  "active": {
                    "type": "boolean",
                    "description": "Is the advertiser active",
                    "default": false
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"success\": true,\n    \"message\": \"advertiser created with ID = 5\",\n    \"payload\": {\n        \"id\": 5\n    }\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "message": {
                      "type": "string",
                      "example": "advertiser created with ID = 5"
                    },
                    "payload": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "example": 5,
                          "default": 0
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "curl -X POST \"[host]/rest/advertiser\" -b cookies.txt -d '{\"advertiser_name\":\"new advertiser\", \"conversion_method_id\":1, \"attributes\":{\"advertiser\":{\"advertiser_domain\":[\"www.beeswax.com\"]}}, \"default_continent\":\"NAM\", \"default_currency\":\"CAD\", \"default_creative_thumbnail_url\":\"https://server.com/thumb.jpg\",\"enable_skad_tracking\":false}'"
            }
          ],
          "samples-languages": [
            "curl"
          ]
        }
      },
      "get": {
        "summary": "advertiser",
        "description": "",
        "operationId": "advertiser-get",
        "parameters": [
          {
            "name": "advertiser_id",
            "in": "query",
            "description": "Unique ID of the advertiser",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "alternative_id",
            "in": "query",
            "description": "An alternative id to lookup the object, if desired",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "advertiser_name",
            "in": "query",
            "description": "Unique name for the advertiser. Supports `%LIKE%` syntax",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "create_date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "update_date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"success\": true,\n    \"payload\": [\n        {\n            \"advertiser_id\": 1,\n            \"advertiser_name\": \"new advertiser\",\n            \"default_click_url\": \"http://www.yahoo.com\",\n            \"default_continent\": \"NAM\",\n            \"default_currency\": \"USD\",\n            \"conversion_method_id\": 1,\n            \"attributes\": {\n                \"advertiser\": {\n                    \"advertiser_category\": [\n                        \"IAB1\"\n                    ]\n                }\n            },         \n          \t\"default_campaign_preset_id\": null,\n            \"default_line_item_preset_id\": null,\n            \"enable_skad_tracking\":false,\n            \"account_id\": 1,\n            \"create_date\": \"2016-02-25 14:27:02\",\n            \"update_date\": \"2016-02-25 14:27:02\",\n            \"alternative_id\": null,\n            \"notes\": null,\n            \"active\": true,\n            \"buzz_key\": \"stingersbx\"\n        }\n    ]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "payload": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "advertiser_id": {
                            "type": "integer",
                            "example": 1,
                            "default": 0
                          },
                          "advertiser_name": {
                            "type": "string",
                            "example": "new advertiser"
                          },
                          "default_click_url": {
                            "type": "string",
                            "example": "http://www.yahoo.com"
                          },
                          "default_continent": {
                            "type": "string",
                            "example": "NAM"
                          },
                          "default_currency": {
                            "type": "string",
                            "example": "USD"
                          },
                          "conversion_method_id": {
                            "type": "integer",
                            "example": 1,
                            "default": 0
                          },
                          "attributes": {
                            "type": "object",
                            "properties": {
                              "advertiser": {
                                "type": "object",
                                "properties": {
                                  "advertiser_category": {
                                    "type": "array",
                                    "items": {
                                      "type": "string",
                                      "example": "IAB1"
                                    }
                                  }
                                }
                              }
                            }
                          },
                          "default_campaign_preset_id": {},
                          "default_line_item_preset_id": {},
                          "enable_skad_tracking": {
                            "type": "boolean",
                            "example": false,
                            "default": true
                          },
                          "account_id": {
                            "type": "integer",
                            "example": 1,
                            "default": 0
                          },
                          "create_date": {
                            "type": "string",
                            "example": "2016-02-25 14:27:02"
                          },
                          "update_date": {
                            "type": "string",
                            "example": "2016-02-25 14:27:02"
                          },
                          "alternative_id": {},
                          "notes": {},
                          "active": {
                            "type": "boolean",
                            "example": true,
                            "default": true
                          },
                          "buzz_key": {
                            "type": "string",
                            "example": "stingersbx"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "curl -X GET \"[host]/rest/advertiser\" -b cookies.txt -d '{\"advertiser_name\":\"new advertiser\"}'"
            }
          ],
          "samples-languages": [
            "curl"
          ]
        }
      },
      "put": {
        "summary": "advertiser",
        "description": "",
        "operationId": "advertiser-put",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "advertiser_id"
                ],
                "properties": {
                  "advertiser_id": {
                    "type": "integer",
                    "description": "Unique ID of the advertiser",
                    "format": "int32"
                  },
                  "advertiser_name": {
                    "type": "string",
                    "description": "Unique name for the advertiser, must be unique per account"
                  },
                  "attributes": {
                    "type": "object",
                    "description": "Creative attributes in JSON",
                    "properties": {
                      "<module_name>": {
                        "type": "object",
                        "description": "The overall statement can include any number of modules, but each module may only appear once. Example of a module is `advertiser`",
                        "properties": {
                          "<key>": {
                            "type": "array",
                            "description": "Key must belong to the module selected, the value must be a list of one or more values corresponding to the key. Values may be integers or strings depending on the key.",
                            "items": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    }
                  },
                  "default_click_url": {
                    "type": "string",
                    "description": "Click URL to use by default for objects created under this advertiser"
                  },
                  "default_continent": {
                    "type": "string",
                    "description": "Continent in which this Advertiser's Campaigns should be eligible to serve. Can be changed at the Campaign level."
                  },
                  "default_currency": {
                    "type": "string",
                    "description": "Default currency to use for all Campaigns created under this Advertiser",
                    "default": "NAM"
                  },
                  "default_creative_thumbnail_url": {
                    "type": "string",
                    "description": "URL of a thumbnail image to use when a Creative does not have one. This is useful since some exchanges may not allow a Creative to run without a thumbnail."
                  },
                  "default_campaign_preset_id": {
                    "type": "integer",
                    "description": "The preset to use by default for all campaigns created under this advertiser. Note, presets can only be created in the UI.",
                    "format": "int32"
                  },
                  "default_line_item_preset_id": {
                    "type": "integer",
                    "description": "The preset to use by default for all line items created under this advertiser. Note, presets can only be created in the UI.",
                    "format": "int32"
                  },
                  "enable_skad_tracking": {
                    "type": "boolean",
                    "description": "Should Apple's SKAdNetwork tracking be enabled for this advertiser. If set to true, the `advertiser_app_bundle` elements of the `attributes` must be set.",
                    "default": false
                  },
                  "alternative_id": {
                    "type": "string",
                    "description": "An alternative id to associate, if desired"
                  },
                  "notes": {
                    "type": "string"
                  },
                  "active": {
                    "type": "boolean",
                    "description": "Is the advertiser active?"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"success\": true,\n    \"payload\": [\n        {\n            \"id\": 1,\n            \"success\": true,\n            \"message\": \"advertiser updated with ID 1\"\n        }\n    ],\n    \"message\": \"advertiser update: 1 updated successfully\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "payload": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "example": 1,
                            "default": 0
                          },
                          "success": {
                            "type": "boolean",
                            "example": true,
                            "default": true
                          },
                          "message": {
                            "type": "string",
                            "example": "advertiser updated with ID 1"
                          }
                        }
                      }
                    },
                    "message": {
                      "type": "string",
                      "example": "advertiser update: 1 updated successfully"
                    }
                  }
                }
              }
            }
          },
          "406": {
            "description": "406",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"success\": false,\n    \"payload\": [\n        {\n            \"id\": 1,\n            \"success\": false,\n            \"error_code\": \"AD_BAD_VALIDATION\",\n            \"message\": [\n                \"ERROR: Error creating conversion_method_id, field improperly formatted int\"\n            ]\n        }\n    ],\n    \"errors\": [\n        \"ERROR: advertiser update: 0 updated successfully, 1 with errors\"\n    ]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false,
                      "default": true
                    },
                    "payload": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "example": 1,
                            "default": 0
                          },
                          "success": {
                            "type": "boolean",
                            "example": false,
                            "default": true
                          },
                          "error_code": {
                            "type": "string",
                            "example": "AD_BAD_VALIDATION"
                          },
                          "message": {
                            "type": "array",
                            "items": {
                              "type": "string",
                              "example": "ERROR: Error creating conversion_method_id, field improperly formatted int"
                            }
                          }
                        }
                      }
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "example": "ERROR: advertiser update: 0 updated successfully, 1 with errors"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "curl -X PUT \"[host]/rest/advertiser\" -b cookies.txt -d '{\"advertiser_id\":1, \"advertiser_name\":\"new advertiser\", \"default_click_url\":\"http://www.foo.com\", \"default_continent\":\"EMEA\"}'"
            }
          ],
          "samples-languages": [
            "curl"
          ]
        }
      },
      "delete": {
        "summary": "advertiser",
        "description": "",
        "operationId": "advertiser-delete",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "advertiser_id"
                ],
                "properties": {
                  "advertiser_id": {
                    "type": "integer",
                    "description": "Unique ID of the advertiser",
                    "format": "int32"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"success\": true,\n    \"payload\": [\n        {\n            \"id\": 1,\n            \"success\": true,\n            \"message\": \"advertiser deleted with ID 1\"\n        }\n    ],\n    \"message\": \"advertiser deletion: 1 deleted successfully\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "payload": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "example": 1,
                            "default": 0
                          },
                          "success": {
                            "type": "boolean",
                            "example": true,
                            "default": true
                          },
                          "message": {
                            "type": "string",
                            "example": "advertiser deleted with ID 1"
                          }
                        }
                      }
                    },
                    "message": {
                      "type": "string",
                      "example": "advertiser deletion: 1 deleted successfully"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "curl -X DELETE \"[host]/rest/advertiser\" -b cookies.txt -d '{\"advertiser_id\":1}'"
            }
          ],
          "samples-languages": [
            "curl"
          ]
        }
      }
    },
    "/account_alert": {
      "post": {
        "summary": "account_alert",
        "description": "",
        "operationId": "account_alert-post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "system_alert_key"
                ],
                "properties": {
                  "system_alert_key": {
                    "type": "string",
                    "description": "key representing the type of alert. For example `bad_ad` alert will send when Buzz detects a bad ad."
                  },
                  "email": {
                    "type": "string",
                    "description": "One or more emails to forward the alert to, separated by commas"
                  },
                  "slack_api": {
                    "type": "string",
                    "description": "Slack API key"
                  },
                  "slack_channel": {
                    "type": "string",
                    "description": "Slack channel such as #buzz-alerts"
                  },
                  "slack_emoji": {
                    "type": "string",
                    "description": "Emoji to post next to alert in slack, such as :poop:"
                  },
                  "active": {
                    "type": "boolean",
                    "description": "Is the Account Alert currently active",
                    "default": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"success\": true,\n    \"message\": \"Account alerts created successfully\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Account alerts created successfully"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "curl -X POST \"[host]/rest/account_alert\" -b cookies.txt -d '{\"system_alert_key\":\"bad_ad\",\"email\":\"alerts@foo.com,emergency@bar.net\",\"slack_api\":\"xoxo-23-345\",\"slack_channel\":\"#bad-stuff\",\"slack_emoji\":\":poop\"}'"
            }
          ],
          "samples-languages": [
            "curl"
          ]
        }
      },
      "put": {
        "summary": "account_alert",
        "description": "",
        "operationId": "account_alert-put",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "account_alert_id"
                ],
                "properties": {
                  "account_alert_id": {
                    "type": "integer",
                    "description": "Unique ID of the account_alert",
                    "format": "int32"
                  },
                  "system_alert_key": {
                    "type": "string",
                    "description": "key representing the type of alert. For example `bad_ad` alert will send when Buzz detects a bad ad."
                  },
                  "email": {
                    "type": "string",
                    "description": "One or more emails to forward the alert to, separated by commas"
                  },
                  "slack_api": {
                    "type": "string",
                    "description": "Slack API key"
                  },
                  "slack_channel": {
                    "type": "string",
                    "description": "Slack channel such as #buzz-alerts"
                  },
                  "slack_emoji": {
                    "type": "string",
                    "description": "Emoji to post next to alert in slack, such as :poop:"
                  },
                  "active": {
                    "type": "boolean",
                    "description": "Is the Account Alert currently active",
                    "default": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"success\": true,\n    \"message\": \"Account alerts updated successfully\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Account alerts updated successfully"
                    }
                  }
                }
              }
            }
          },
          "406": {
            "description": "406",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"success\": false,\n    \"message\": \"advertiser could not be created\",\n    \"errors\": [\n        \"ERROR: Advertiser name already in use\"\n    ]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false,
                      "default": true
                    },
                    "message": {
                      "type": "string",
                      "example": "advertiser could not be created"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "example": "ERROR: Advertiser name already in use"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "curl -X PUT \"[host]/rest/account_alert\" -b cookies.txt -d '{\"account_alert_id\":123, \"system_alert_key\":\"bad_ad\",\"email\":\"alerts@foo.com,emergency@bar.net\",\"slack_api\":\"xoxo-23-345\",\"slack_channel\":\"#bad-stuff\",\"slack_emoji\":\":poop\"}'"
            }
          ],
          "samples-languages": [
            "curl"
          ]
        }
      },
      "delete": {
        "summary": "account_alert",
        "description": "",
        "operationId": "account_alert-delete",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "account_alert_id"
                ],
                "properties": {
                  "account_alert_id": {
                    "type": "integer",
                    "description": "Unique ID of the account_alert",
                    "format": "int32"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"success\": true,\n    \"payload\": [\n        {\n            \"id\": 1,\n            \"success\": true,\n            \"message\": \"account_alert deleted with ID 1\"\n        }\n    ],\n    \"message\": \"account_alert deletion: 1 deleted successfully\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "payload": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "example": 1,
                            "default": 0
                          },
                          "success": {
                            "type": "boolean",
                            "example": true,
                            "default": true
                          },
                          "message": {
                            "type": "string",
                            "example": "account_alert deleted with ID 1"
                          }
                        }
                      }
                    },
                    "message": {
                      "type": "string",
                      "example": "account_alert deletion: 1 deleted successfully"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "curl -X DELETE \"[host]/rest/account_alert\" -b cookies.txt -d '{\"account_alert_id\":1}'"
            }
          ],
          "samples-languages": [
            "curl"
          ]
        }
      }
    },
    "/account": {
      "post": {
        "summary": "account",
        "description": "",
        "operationId": "account-post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "account_name",
                  "active"
                ],
                "properties": {
                  "customer_id": {
                    "type": "string",
                    "description": "An ID to identify the Account in an external customer system. For Beeswax use only!"
                  },
                  "account_name": {
                    "type": "string",
                    "description": "Name of the account"
                  },
                  "primary_account": {
                    "type": "boolean",
                    "description": "Not currently used"
                  },
                  "locale": {
                    "type": "string",
                    "description": "Locale to use for the account, currently only en_US is supported",
                    "default": "en_US"
                  },
                  "timezone": {
                    "type": "string",
                    "description": "Timezone to use for the Account. Once set all API dates and reporting will use this timezone.",
                    "default": "America/New_York"
                  },
                  "currency_id": {
                    "type": "string",
                    "description": "Currency to use for the Account. Currently the API assumes all currencies are dollars.",
                    "default": "USD"
                  },
                  "date_format_string": {
                    "type": "string",
                    "description": "Format of dates for both inputs and outputs to the API.",
                    "default": "Y-m-d H:i:s"
                  },
                  "alternative_id": {
                    "type": "string",
                    "description": "An alternative id to lookup the account, if desired"
                  },
                  "notes": {
                    "type": "string",
                    "description": "Notes about the Account, up to 255 chars"
                  },
                  "active": {
                    "type": "boolean",
                    "description": "Is the Account active?",
                    "default": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"success\": true,\n    \"message\": \"account created with ID = 3\",\n    \"payload\": {\n        \"id\": 3\n    }\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "message": {
                      "type": "string",
                      "example": "account created with ID = 3"
                    },
                    "payload": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "example": 3,
                          "default": 0
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "curl -X POST \"[host]/rest/account\" -b cookies.txt -d '{\"account_name\":\"new account\", \"active\":true}'"
            }
          ],
          "samples-languages": [
            "curl"
          ]
        }
      },
      "get": {
        "summary": "account",
        "description": "",
        "operationId": "account-get",
        "parameters": [
          {
            "name": "account_id",
            "in": "query",
            "description": "Unique ID of the account",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "customer_id",
            "in": "query",
            "description": "Beeswax use only",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "account_name",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "primary_account",
            "in": "query",
            "description": "Not currently used",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "alternative_id",
            "in": "query",
            "description": "An alternative id to lookup the account, if desired",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "active",
            "in": "query",
            "description": "Is the Account active?",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "create_date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "update_date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"success\": true,\n    \"payload\": [\n        {\n            \"customer_id\": \"1\",\n            \"account_name\": \"Primary account\",\n            \"primary_account\": true,\n            \"locale\": \"en_US\",\n            \"currency_id\": \"USD\",\n            \"timezone\": \"America/New_York\",\n            \"date_format_string\": \"Y-m-d H:i:s\",\n            \"account_id\": 1,\n            \"create_date\": \"2016-02-03 17:40:31\",\n            \"update_date\": \"2016-02-03 17:40:31\",\n            \"alternative_id\": null,\n            \"notes\": null,\n            \"active\": true,\n            \"buzz_key\": \"stingersbx\"\n        }\n    ]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "payload": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "customer_id": {
                            "type": "string",
                            "example": "1"
                          },
                          "account_name": {
                            "type": "string",
                            "example": "Primary account"
                          },
                          "primary_account": {
                            "type": "boolean",
                            "example": true,
                            "default": true
                          },
                          "locale": {
                            "type": "string",
                            "example": "en_US"
                          },
                          "currency_id": {
                            "type": "string",
                            "example": "USD"
                          },
                          "timezone": {
                            "type": "string",
                            "example": "America/New_York"
                          },
                          "date_format_string": {
                            "type": "string",
                            "example": "Y-m-d H:i:s"
                          },
                          "account_id": {
                            "type": "integer",
                            "example": 1,
                            "default": 0
                          },
                          "create_date": {
                            "type": "string",
                            "example": "2016-02-03 17:40:31"
                          },
                          "update_date": {
                            "type": "string",
                            "example": "2016-02-03 17:40:31"
                          },
                          "alternative_id": {},
                          "notes": {},
                          "active": {
                            "type": "boolean",
                            "example": true,
                            "default": true
                          },
                          "buzz_key": {
                            "type": "string",
                            "example": "stingersbx"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "curl -X GET \"[host]/rest/account\" -b cookies.txt -d '{\"account_id\":1}'"
            }
          ],
          "samples-languages": [
            "curl"
          ]
        }
      },
      "put": {
        "summary": "account",
        "description": "",
        "operationId": "account-put",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "account_id"
                ],
                "properties": {
                  "account_id": {
                    "type": "integer",
                    "description": "Unique ID of the account to update",
                    "format": "int32"
                  },
                  "customer_id": {
                    "type": "string",
                    "description": "An ID to identify the Account in an external customer system. For Beeswax use only!",
                    "default": "A default value can be set as an environment variable using the DEFAULT_CUSTOMER_ID variable"
                  },
                  "account_name": {
                    "type": "string",
                    "description": "Name of the account"
                  },
                  "primary_account": {
                    "type": "boolean",
                    "description": "Not currently used"
                  },
                  "locale": {
                    "type": "string",
                    "description": "Locale to use for the account, currently only en-US is supported",
                    "default": "en_US"
                  },
                  "timezone": {
                    "type": "string",
                    "description": "Timezone to use for the Account.",
                    "default": "America/New_York"
                  },
                  "currency_id": {
                    "type": "string",
                    "description": "Currency to use for the Account. Currently the API assumes all currencies are dollars.",
                    "default": "USD"
                  },
                  "date_format_string": {
                    "type": "string",
                    "description": "Format for date fields on both input and output from the API. Not currently used.",
                    "default": "Y-m-d H:i:s"
                  },
                  "alternative_id": {
                    "type": "string",
                    "description": "An alternative id to lookup the account, if desired"
                  },
                  "notes": {
                    "type": "string",
                    "description": "Notes about the Account, up to 255 chars"
                  },
                  "active": {
                    "type": "boolean",
                    "description": "Is the Account active?",
                    "default": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"success\": true,\n    \"payload\": [\n        {\n            \"id\": 1,\n            \"success\": true,\n            \"message\": \"account updated with ID 1\"\n        }\n    ],\n    \"message\": \"account update: 1 updated successfully\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "payload": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "example": 1,
                            "default": 0
                          },
                          "success": {
                            "type": "boolean",
                            "example": true,
                            "default": true
                          },
                          "message": {
                            "type": "string",
                            "example": "account updated with ID 1"
                          }
                        }
                      }
                    },
                    "message": {
                      "type": "string",
                      "example": "account update: 1 updated successfully"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "curl -X PUT \"[host]/rest/account/1\" -b cookies.txt -d '{\"account_name\":\"new account\", \"active\":true}'"
            }
          ],
          "samples-languages": [
            "curl"
          ]
        }
      }
    },
    "/account_setting": {
      "post": {
        "summary": "account_setting",
        "description": "",
        "operationId": "accountsetting-post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "account_setting",
                  "value"
                ],
                "properties": {
                  "account_setting": {
                    "type": "string",
                    "description": "The name of the setting, generally in ALL_CAPS. <40 chars, must be a valid setting as defined in the account_setting_fields view"
                  },
                  "value": {
                    "type": "string",
                    "description": "<200 chars. Each account_setting has a type, which is used for further validation. For example, the account_setting \"BUDGET\" might have a type of \"NUMERIC.\" Note, this type validation is not strict as the values in the database are always stored as Strings so \"1\" has the same value as 1."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"success\": true,\n    \"message\": \"account_setting created with ID = 3\",\n    \"payload\": {\n        \"id\": 3\n    }\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "message": {
                      "type": "string",
                      "example": "account_setting created with ID = 3"
                    },
                    "payload": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "example": 3,
                          "default": 0
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "curl -X POST \"[host]/rest/account_setting\" -b cookies.txt -d '{\"account_setting\":\"CUSTOM_LOGO\",\"value\":\"http://mysite.com/images/logo.jpg\"}'"
            }
          ],
          "samples-languages": [
            "curl"
          ]
        }
      },
      "get": {
        "summary": "account_setting",
        "description": "",
        "operationId": "accountsetting-get",
        "parameters": [
          {
            "name": "as_id",
            "in": "query",
            "description": "Unique ID of the AccountSetting",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "account_setting",
            "in": "query",
            "description": "The name of the setting to search for.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"success\": true,\n    \"payload\": [\n        {\n            \"as_id\": 1,\n            \"account_id\": 1,\n            \"account_setting\": \"CUSTOM_LOGO\",\n            \"value\": \"http://mysite.com/images/logo.jpg\",\n            \"buzz_key\": \"stingertest\"\n        }\n    ]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "payload": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "as_id": {
                            "type": "integer",
                            "example": 1,
                            "default": 0
                          },
                          "account_id": {
                            "type": "integer",
                            "example": 1,
                            "default": 0
                          },
                          "account_setting": {
                            "type": "string",
                            "example": "CUSTOM_LOGO"
                          },
                          "value": {
                            "type": "string",
                            "example": "http://mysite.com/images/logo.jpg"
                          },
                          "buzz_key": {
                            "type": "string",
                            "example": "stingertest"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "curl -X GET \"[host]/rest/account_setting\" -b cookies.txt -d '{\"account_setting\":\"CUSTOM_LOGO\"}'"
            }
          ],
          "samples-languages": [
            "curl"
          ]
        }
      },
      "put": {
        "summary": "account_setting",
        "description": "",
        "operationId": "accountsetting-put",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "as_id",
                  "account_setting",
                  "value"
                ],
                "properties": {
                  "as_id": {
                    "type": "integer",
                    "description": "Unique ID of the account_setting",
                    "format": "int32"
                  },
                  "account_setting": {
                    "type": "string",
                    "description": "The name of the setting, generally in ALL_CAPS. <40 chars, must be a valid setting as defined in the account_setting_fields view"
                  },
                  "value": {
                    "type": "string",
                    "description": "<200 chars. Each account_setting has a type, which is used for further validation. For example, the account_setting \"BUDGET\" might have a type of \"NUMERIC.\" Note, this type validation is not strict as the values in the database are always stored as Strings so \"1\" has the same value as 1."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"success\": true,\n    \"payload\": [\n        {\n            \"id\": 1,\n            \"success\": true,\n            \"message\": \"account_setting updated with ID 1\"\n        }\n    ],\n    \"message\": \"account_setting update: 1 updated successfully\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "payload": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "example": 1,
                            "default": 0
                          },
                          "success": {
                            "type": "boolean",
                            "example": true,
                            "default": true
                          },
                          "message": {
                            "type": "string",
                            "example": "account_setting updated with ID 1"
                          }
                        }
                      }
                    },
                    "message": {
                      "type": "string",
                      "example": "account_setting update: 1 updated successfully"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "curl -X PUT \"[host]/rest/account_setting\" -b cookies.txt -d '{\"as_id\":1, \"account_setting\":\"CUSTOM_LOGO\",\"value\":\"http://mysite.com/images/logo.jpg\"}'"
            }
          ],
          "samples-languages": [
            "curl"
          ]
        }
      },
      "delete": {
        "summary": "account_setting",
        "description": "",
        "operationId": "accountsetting-delete",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "as_id"
                ],
                "properties": {
                  "as_id": {
                    "type": "integer",
                    "description": "Unique ID of the account_setting",
                    "format": "int32"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"success\": true,\n    \"payload\": [\n        {\n            \"id\": 1,\n            \"success\": true,\n            \"message\": \"account_setting deleted with ID 1\"\n        }\n    ],\n    \"message\": \"account_setting deletion: 1 deleted successfully\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "payload": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "example": 1,
                            "default": 0
                          },
                          "success": {
                            "type": "boolean",
                            "example": true,
                            "default": true
                          },
                          "message": {
                            "type": "string",
                            "example": "account_setting deleted with ID 1"
                          }
                        }
                      }
                    },
                    "message": {
                      "type": "string",
                      "example": "account_setting deletion: 1 deleted successfully"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "curl -X DELETE \"[host]/rest/account_setting\" -b cookies.txt -d '{\"as_id\":1}'"
            }
          ],
          "samples-languages": [
            "curl"
          ]
        }
      }
    },
    "/activity_log": {
      "get": {
        "summary": "activity_log",
        "description": "",
        "operationId": "activitylog-get",
        "parameters": [
          {
            "name": "log_id",
            "in": "query",
            "description": "Unique id of the log entry",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "user_id",
            "in": "query",
            "description": "ID of the user that took the action that was logged",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "object_id",
            "in": "query",
            "description": "The unique ID of the object that was affected. For example, if a User object was created, this ID will be the user_id of that User",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "object_type",
            "in": "query",
            "description": "The type of object affected. e.g. `user` or `line_item`",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "activity_date",
            "in": "query",
            "description": "The date the activity took place",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "action",
            "in": "query",
            "description": "`CREATE`, `UPDATE`, or `DELETE`",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"success\": true,\n    \"payload\": [\n        {\n            \"log_id\": 131,\n            \"user_id\": 1,\n            \"account_id\": 1,\n            \"object_id\": 6,\n            \"object_type\": \"advertiser\",\n            \"action\": \"CREATE\",\n            \"details\": {\n                \"advertiser_id\": 6,\n                \"advertiser_name\": \"foo2\",\n                \"attributes\": {\n                    \"advertiser\": {\n                        \"advertiser_category\": [\n                            \"IAB1\"\n                        ]\n                    }\n                },\n          \t    \"default_targeting\": [],\n                \"conversion_method_id\": 1,\n                \"default_click_url\": \"http://www.yahoo.com\",\n                \"active\": 1,\n                \"alternative_id\": null,\n                \"notes\": null,\n                \"original_object_id\": 6,\n                \"account_id\": 1,\n                \"view_name\": null,\n                \"fields\": null,\n                \"create_date\": \"2016-02-25 14:51:08\",\n                \"push_status\": 0,\n                \"push_update\": 1,\n                \"payload\": null\n            },\n            \"activity_date\": \"2016-02-25 14:51:08\",\n            \"buzz_key\": \"stingersbx\"\n        }\n    ]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "payload": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "log_id": {
                            "type": "integer",
                            "example": 131,
                            "default": 0
                          },
                          "user_id": {
                            "type": "integer",
                            "example": 1,
                            "default": 0
                          },
                          "account_id": {
                            "type": "integer",
                            "example": 1,
                            "default": 0
                          },
                          "object_id": {
                            "type": "integer",
                            "example": 6,
                            "default": 0
                          },
                          "object_type": {
                            "type": "string",
                            "example": "advertiser"
                          },
                          "action": {
                            "type": "string",
                            "example": "CREATE"
                          },
                          "details": {
                            "type": "object",
                            "properties": {
                              "advertiser_id": {
                                "type": "integer",
                                "example": 6,
                                "default": 0
                              },
                              "advertiser_name": {
                                "type": "string",
                                "example": "foo2"
                              },
                              "attributes": {
                                "type": "object",
                                "properties": {
                                  "advertiser": {
                                    "type": "object",
                                    "properties": {
                                      "advertiser_category": {
                                        "type": "array",
                                        "items": {
                                          "type": "string",
                                          "example": "IAB1"
                                        }
                                      }
                                    }
                                  }
                                }
                              },
                              "default_targeting": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {}
                                }
                              },
                              "conversion_method_id": {
                                "type": "integer",
                                "example": 1,
                                "default": 0
                              },
                              "default_click_url": {
                                "type": "string",
                                "example": "http://www.yahoo.com"
                              },
                              "active": {
                                "type": "integer",
                                "example": 1,
                                "default": 0
                              },
                              "alternative_id": {},
                              "notes": {},
                              "original_object_id": {
                                "type": "integer",
                                "example": 6,
                                "default": 0
                              },
                              "account_id": {
                                "type": "integer",
                                "example": 1,
                                "default": 0
                              },
                              "view_name": {},
                              "fields": {},
                              "create_date": {
                                "type": "string",
                                "example": "2016-02-25 14:51:08"
                              },
                              "push_status": {
                                "type": "integer",
                                "example": 0,
                                "default": 0
                              },
                              "push_update": {
                                "type": "integer",
                                "example": 1,
                                "default": 0
                              },
                              "payload": {}
                            }
                          },
                          "activity_date": {
                            "type": "string",
                            "example": "2016-02-25 14:51:08"
                          },
                          "buzz_key": {
                            "type": "string",
                            "example": "stingersbx"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "curl -X GET \"[host]/rest/activity_log\" -b cookies.txt -d '{\"object_type\":\"advertiser\",\"object_id\":6}'"
            }
          ],
          "samples-languages": [
            "curl"
          ]
        }
      }
    },
    "/alert": {
      "post": {
        "summary": "alert",
        "description": "",
        "operationId": "alert-post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "subject",
                  "content",
                  "from_address"
                ],
                "properties": {
                  "user_id": {
                    "type": "integer",
                    "description": "ID of the user receiving the alert, must be an active user",
                    "format": "int32"
                  },
                  "account_id": {
                    "type": "integer",
                    "description": "When a super user sends a `global` alert the `account_id` can be specified or can be set to `all` to send the alert to all users in all accounts.",
                    "default": null,
                    "format": "int32"
                  },
                  "subject": {
                    "type": "string",
                    "description": "Subject of the alert, <100 chars"
                  },
                  "content": {
                    "type": "string",
                    "description": "Content of the alert"
                  },
                  "object_type": {
                    "type": "string",
                    "description": "If the alert refers to an object, such as a Creative, you can specify the type and ID (below) to allow for deep linking into an application. Must be a valid object_type. A list of object_types can be found using the `\"view_name\":\"object_type\"`"
                  },
                  "object_id": {
                    "type": "integer",
                    "description": "The object_id to link to if the object_type is specified.",
                    "format": "int32"
                  },
                  "global": {
                    "type": "boolean",
                    "description": "When set, sends the alert to all users within the account",
                    "default": false
                  },
                  "icon": {
                    "type": "string",
                    "description": "A string representing an icon or emoji to associate with the alert. e.g. `:POOP:`"
                  },
                  "from_address": {
                    "type": "string",
                    "description": "Sender of the alert. Can be a name or an email address."
                  },
                  "active": {
                    "type": "boolean",
                    "description": "Is the alert unread (1) or read (0)",
                    "default": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"success\": true,\n    \"message\": \"Global alerts sent successfully to 2 users with 0 errors\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Global alerts sent successfully to 2 users with 0 errors"
                    }
                  }
                }
              }
            }
          },
          "406": {
            "description": "406",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"success\": false,\n    \"message\": \"advertiser could not be created\",\n    \"errors\": [\n        \"ERROR: Advertiser name already in use\"\n    ]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false,
                      "default": true
                    },
                    "message": {
                      "type": "string",
                      "example": "advertiser could not be created"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "example": "ERROR: Advertiser name already in use"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "curl -X POST \"[host]/rest/alert\" -b cookies.txt -d '{\"subject\":\"new alert\",\"content\":\"Hey boys and girls here is an alert\",\"global\":1,\"from_address\":\"your boss\"}'"
            }
          ],
          "samples-languages": [
            "curl"
          ]
        }
      },
      "get": {
        "summary": "alert",
        "description": "",
        "operationId": "alert-get",
        "parameters": [
          {
            "name": "alert_id",
            "in": "query",
            "description": "Unique ID of the alert",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "user_id",
            "in": "query",
            "description": "ID of the user receiving the alert",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "subject",
            "in": "query",
            "description": "Subject of the alert, supports `%LIKE%` syntax",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "active",
            "in": "query",
            "description": "Is the alert unread (1) or read (0)",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "create_date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "update_date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"success\": true,\n    \"payload\": [\n        {\n            \"alert_id\": 1,\n            \"user_id\": 1,\n            \"account_id\": 1,\n            \"subject\": \"Creative Approval Updated\",\n            \"content\": \"Creative approval for Creative 4 was updated with message Suspicious\",\n            \"object_id\": 4,\n            \"object_type\": \"creative\",\n            \"icon\": \":cop:\",\n            \"system\": true,\n            \"from_address\": \"Buzz System\",\n            \"active\": false,\n            \"create_date\": \"2016-02-05 12:42:14\",\n            \"update_date\": \"2016-02-25 16:11:17\",\n            \"buzz_key\": \"stingersbx\"\n        }\n    ]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "payload": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "alert_id": {
                            "type": "integer",
                            "example": 1,
                            "default": 0
                          },
                          "user_id": {
                            "type": "integer",
                            "example": 1,
                            "default": 0
                          },
                          "account_id": {
                            "type": "integer",
                            "example": 1,
                            "default": 0
                          },
                          "subject": {
                            "type": "string",
                            "example": "Creative Approval Updated"
                          },
                          "content": {
                            "type": "string",
                            "example": "Creative approval for Creative 4 was updated with message Suspicious"
                          },
                          "object_id": {
                            "type": "integer",
                            "example": 4,
                            "default": 0
                          },
                          "object_type": {
                            "type": "string",
                            "example": "creative"
                          },
                          "icon": {
                            "type": "string",
                            "example": ":cop:"
                          },
                          "system": {
                            "type": "boolean",
                            "example": true,
                            "default": true
                          },
                          "from_address": {
                            "type": "string",
                            "example": "Buzz System"
                          },
                          "active": {
                            "type": "boolean",
                            "example": false,
                            "default": true
                          },
                          "create_date": {
                            "type": "string",
                            "example": "2016-02-05 12:42:14"
                          },
                          "update_date": {
                            "type": "string",
                            "example": "2016-02-25 16:11:17"
                          },
                          "buzz_key": {
                            "type": "string",
                            "example": "stingersbx"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "406": {
            "description": "406",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"success\": false,\n    \"message\": \"advertiser could not be created\",\n    \"errors\": [\n        \"ERROR: Advertiser name already in use\"\n    ]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false,
                      "default": true
                    },
                    "message": {
                      "type": "string",
                      "example": "advertiser could not be created"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "example": "ERROR: Advertiser name already in use"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "curl -X GET \"[host]/rest/alert\" -b cookies.txt -d '{\"alert_id\":1}'"
            }
          ],
          "samples-languages": [
            "curl"
          ]
        }
      },
      "put": {
        "summary": "alert",
        "description": "",
        "operationId": "alert-put",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "alert_id": {
                    "type": "integer",
                    "description": "Unique ID of the alert",
                    "format": "int32"
                  },
                  "user_id": {
                    "type": "integer",
                    "description": "ID of the user receiving the alert, defaults to current user",
                    "format": "int32"
                  },
                  "global": {
                    "type": "boolean",
                    "description": "Set to 1 to execute a \"Mark all as read\"",
                    "default": false
                  },
                  "active": {
                    "type": "boolean",
                    "description": "Mark an individual alert as read",
                    "default": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"success\": true,\n    \"message\": \"20 alerts marked as read\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "message": {
                      "type": "string",
                      "example": "20 alerts marked as read"
                    }
                  }
                }
              }
            }
          },
          "406": {
            "description": "406",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"success\": false,\n    \"message\": \"advertiser could not be created\",\n    \"errors\": [\n        \"ERROR: Advertiser name already in use\"\n    ]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false,
                      "default": true
                    },
                    "message": {
                      "type": "string",
                      "example": "advertiser could not be created"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "example": "ERROR: Advertiser name already in use"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "#Set a single alert to read\ncurl -X PUT \"[host]/rest/alert\" -b cookies.txt -d '{\"alert_id\":1,\"active\":0}'\n#Set all alerts to read for the current user\ncurl -X PUT \"[host]/rest/alert\" -b cookies.txt -d '{\"global\":1, \"active\":0}'"
            }
          ],
          "samples-languages": [
            "curl"
          ]
        }
      },
      "delete": {
        "summary": "alert",
        "description": "",
        "operationId": "alert-delete",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "alert_id"
                ],
                "properties": {
                  "alert_id": {
                    "type": "integer",
                    "description": "Unique ID of the alert",
                    "format": "int32"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"success\": true,\n    \"payload\": [\n        {\n            \"id\": 1,\n            \"success\": true,\n            \"message\": \"alert deleted with ID 1\"\n        }\n    ],\n    \"message\": \"alert deletion: 1 deleted successfully\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "payload": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "example": 1,
                            "default": 0
                          },
                          "success": {
                            "type": "boolean",
                            "example": true,
                            "default": true
                          },
                          "message": {
                            "type": "string",
                            "example": "alert deleted with ID 1"
                          }
                        }
                      }
                    },
                    "message": {
                      "type": "string",
                      "example": "alert deletion: 1 deleted successfully"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "curl -X DELETE \"[host]/rest/alert\" -b cookies.txt -d '{\"alert_id\":1}'"
            }
          ],
          "samples-languages": [
            "curl"
          ]
        }
      }
    },
    "/authenticate": {
      "post": {
        "summary": "authenticate",
        "description": "Login",
        "operationId": "authenticate-post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email",
                  "password"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "description": "User Email"
                  },
                  "password": {
                    "type": "string",
                    "description": "User Password"
                  },
                  "account_id": {
                    "type": "integer",
                    "description": "For Multi-Account Users only, allows the user to authenticate into a different account on the same Buzz instance",
                    "format": "int32"
                  },
                  "keep_logged_in": {
                    "type": "boolean",
                    "description": "When set to true, the user will be kept logged in for up to 30 days",
                    "default": false
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"success\": \"true\",\n    \"payload\": \"Cookie set successfully\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "string",
                      "example": "true"
                    },
                    "payload": {
                      "type": "string",
                      "example": "Cookie set successfully"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [],
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "curl -X POST \"/rest/authenticate\" -c cookies.txt -d '{\"email\":\"foo@bar.com\", \"password\":\"123456\", \"keep_logged_in\":true}'\n\n#Example of masquerading into account 123 for Buzz instances enabled with multi-account access\ncurl -X POST \"/rest/authenticate\" -c cookies.txt -d '{\"email\":\"foo@bar.com\", \"password\":\"123456\", \"keep_logged_in\":true,\"account_id\":123}'"
            }
          ],
          "samples-languages": [
            "curl"
          ]
        }
      },
      "put": {
        "summary": "authenticate",
        "description": "Allows the user to change their password",
        "operationId": "authenticate-put",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email",
                  "password",
                  "new_password"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "description": "User ID"
                  },
                  "password": {
                    "type": "string",
                    "description": "User Password"
                  },
                  "new_password": {
                    "type": "integer",
                    "description": "New Password",
                    "format": "int32"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"success\": true,\n    \"message\": \"Password updated\",\n    \"payload\": {\n        \"id\": 1\n    }\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Password updated"
                    },
                    "payload": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "example": 1,
                          "default": 0
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [],
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "curl -X PUT \"/rest/authenticate\" -b cookies.txt -d '{\"email\":\"foo@bar.com\", \"password\":\"123456\", \"new_password\":\"abcdef\"}'"
            }
          ],
          "samples-languages": [
            "curl"
          ]
        }
      },
      "delete": {
        "summary": "authenticate",
        "description": "Logout",
        "operationId": "authenticate-delete",
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"success\": true,\n    \"message\": \"You have been successfully logged out\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "message": {
                      "type": "string",
                      "example": "You have been successfully logged out"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "curl -X DELETE \"/rest/authenticate\" -b cookies.txt"
            }
          ],
          "samples-languages": [
            "curl"
          ]
        }
      }
    },
    "/bid_model": {
      "post": {
        "summary": "bid_model",
        "description": "",
        "operationId": "bid-models-post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "bid_model_name"
                ],
                "properties": {
                  "bid_model_name": {
                    "type": "string",
                    "description": "Name of the Bid Model, e.g. \"CPI Model\""
                  },
                  "value_type": {
                    "type": "string",
[...]
