openapi: 3.2.0
info:
  title: buzz Change Password API
  version: '0.5'
servers:
- url: https://buzz-key.api.beeswax.com/rest/
security:
- {}
tags:
- name: Change Password
paths:
  /change_password:
    post:
      summary: change_password
      description: Sends an email to reset password
      operationId: changepassword-post
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - email
              properties:
                email:
                  type: string
                  description: User Email
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n    \"success\": \"true\",\n    \"payload\": \"Email sent successfully\"\n}"
              schema:
                type: object
                properties:
                  success:
                    type: string
                    example: 'true'
                  payload:
                    type: string
                    example: Email sent successfully
      deprecated: false
      security: []
      x-readme:
        code-samples:
        - language: curl
          code: curl -X POST "/rest/change_password" -b cookies.txt -d '{"email":"foo@bar.com"}'
        samples-languages:
        - curl
      tags:
      - Change Password
    put:
      summary: change_password
      description: Resets password from an email
      operationId: changepassword-put
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - email
              - login_token
              - new_password
              properties:
                email:
                  type: string
                  description: User Email
                login_token:
                  type: string
                  description: Token emailed to the user as a result of the POST
                new_password:
                  type: string
                  description: New password desired
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n    \"success\": \"true\",\n    \"payload\": \"Password updated successfully\"\n}"
              schema:
                type: object
                properties:
                  success:
                    type: string
                    example: 'true'
                  payload:
                    type: string
                    example: Password updated successfully
      deprecated: false
      security: []
      x-readme:
        code-samples:
        - language: curl
          code: curl -X PUT "/rest/change_password" -d '{"email":"foo@bar.com","login_token":"dfdskjKDJD","new_password":"abcdef"}'
        samples-languages:
        - curl
      tags:
      - Change Password
x-readme:
  headers: []
  explorer-enabled: true
  proxy-enabled: true
x-readme-fauxas: true
