openapi: 3.2.0
info:
  title: buzz Resend User Email API
  version: '0.5'
servers:
- url: https://buzz-key.api.beeswax.com/rest/
security:
- {}
tags:
- name: Resend User Email
paths:
  /resend_user_email:
    post:
      summary: resend_user_email
      description: Re-sends the welcome email to a new user
      operationId: resend_user_email
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                user_id:
                  type: integer
                  description: User ID
                  format: int32
                email:
                  type: string
                  description: User Email
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n    \"success\": \"true\",\n    \"payload\": \"Email resent successfully\"\n}"
              schema:
                type: object
                properties:
                  success:
                    type: string
                    example: 'true'
                  payload:
                    type: string
                    example: Email resent successfully
      deprecated: false
      x-readme:
        code-samples:
        - language: curl
          code: curl -X POST "/rest/resend_user_email" -d '{"email":"elmo@sesame.com"}'
        samples-languages:
        - curl
      tags:
      - Resend User Email
x-readme:
  headers: []
  explorer-enabled: true
  proxy-enabled: true
x-readme-fauxas: true
