openapi: 3.2.0
info:
  title: buzz Creative Approval Queue API
  version: '0.5'
servers:
- url: https://buzz-key.api.beeswax.com/rest/
security:
- {}
tags:
- name: Creative Approval Queue
paths:
  /creative_approval_queue:
    get:
      summary: creative_approval_queue
      description: ''
      operationId: creativeapprovalqueue-get
      parameters:
      - name: creative_approval_id
        in: query
        description: Unique id of the creative_approval_queue entry
        schema:
          type: integer
          format: int32
      - name: creative_id
        in: query
        description: ID of the creative
        schema:
          type: integer
          format: int32
      - name: vendor_id
        in: query
        description: ID of the `vendor` such as Google
        schema:
          type: integer
          format: int32
      - name: action
        in: query
        description: The latest action that is required to be performed on this queue entry. Valid actions are `CREATE`, `PAUSE`, `RESUME`, and `DELETE`. Not all actions are relevant to all vendors.
        schema:
          type: string
      - name: request_date
        in: query
        description: Date the latest approval was submitted
        schema:
          type: string
          format: date
      - name: request_status
        in: query
        description: Status of the latest approval request. Note, this is not the same as the status of the Creative with this vendor.
        schema:
          type: integer
          format: int32
      - name: approved
        in: query
        description: Whether this `creative_id` to `vendor_id` combination is currently in an approved state.
        schema:
          type: boolean
      - name: update_date
        in: query
        description: Date the queue entry was created or updated
        schema:
          type: string
          format: date
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n    \"success\": true,\n    \"payload\": [\n        {\n            \"creative_approval_id\": 1,\n            \"creative_id\": 1,\n            \"vendor_id\": 3,\n            \"account_id\": 1,\n            \"alternative_id\": null,\n            \"action\": \"CREATE\",\n            \"request_date\": \"2016-02-03 17:42:20\",\n            \"request_status\": 0,\n            \"update_date\": \"2016-02-03 17:42:20\",\n            \"approved\": 0,\n            \"buzz_key\": \"stingersbx\"\n        }\n    ]\n}"
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    default: true
                  payload:
                    type: array
                    items:
                      type: object
                      properties:
                        creative_approval_id:
                          type: integer
                          example: 1
                          default: 0
                        creative_id:
                          type: integer
                          example: 1
                          default: 0
                        vendor_id:
                          type: integer
                          example: 3
                          default: 0
                        account_id:
                          type: integer
                          example: 1
                          default: 0
                        alternative_id: {}
                        action:
                          type: string
                          example: CREATE
                        request_date:
                          type: string
                          example: '2016-02-03 17:42:20'
                        request_status:
                          type: integer
                          example: 0
                          default: 0
                        update_date:
                          type: string
                          example: '2016-02-03 17:42:20'
                        approved:
                          type: integer
                          example: 0
                          default: 0
                        buzz_key:
                          type: string
                          example: stingersbx
      deprecated: false
      x-readme:
        code-samples:
        - language: curl
          code: curl -X GET "[host]/rest/creative_approval_queue" -b cookies.txt -d '{"creative_id":1}'
        samples-languages:
        - curl
      tags:
      - Creative Approval Queue
x-readme:
  headers: []
  explorer-enabled: true
  proxy-enabled: true
x-readme-fauxas: true
