openapi: 3.2.0
info:
  title: buzz Creative Template API
  version: '0.5'
servers:
- url: https://buzz-key.api.beeswax.com/rest/
security:
- {}
tags:
- name: Creative Template
paths:
  /creative_template:
    get:
      summary: creative_template
      description: ''
      operationId: creativetemplate-get
      parameters:
      - name: creative_template_id
        in: query
        description: Unique ID of the Creative Template
        schema:
          type: integer
          format: int32
      - name: creative_template_name
        in: query
        description: Name of the Creative Template, e.g. "JPEG Banner"
        schema:
          type: string
      - name: creative_type
        in: query
        description: 0 = banner, 1 = video, 2 = native
        schema:
          type: integer
          format: int32
      - name: is_video
        in: query
        description: Does the template include video assets. Note, this is slightly different from creative_type since a Native creative can also include video
        schema:
          type: boolean
      - name: global
        in: query
        description: Is this a global template, available to all Buzz accounts?
        schema:
          type: boolean
      - name: active
        in: query
        description: Is the Creative Template active?
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n    \"success\": true,\n    \"payload\": [\n        {\n            \"creative_template_id\": 1,\n            \"global\": true,\n            \"rendering_key\": \"IMAGE\",\n            \"creative_type\": 0,\n            \"is_video\": 0,\n            \"creative_attributes\": {\n                \"technical\": {\n                    \"tag_type\": [\n                        2\n                    ]\n                }\n            },\n            \"click_required\": true,\n            \"creative_template_name\": \"Image template\",\n            \"creative_template_content\": \"<a href='{{CLICK_URL}}' target='_blank'><img src='{{CUSTOM:IMAGE_NAME:FILE}}' alt='tap here' width='{{WIDTH}}' height='{{HEIGHT}}'></a><img src='{{IMPRESSION_URL}}' width='0' height='0'>{{#ADDITIONAL_PIXELS:0:10<img src='{{CUSTOM:PIXEL_URL:URL}}' width='0' height='0'>/}}{{#ADDITIONAL_SCRIPTS:0:10<script type='text/javascript' src='{{CUSTOM:SCRIPT_URL:URL}}'></script>/}}\",\n            \"macro_names\": {\n                \"IMAGE_NAME\": \"STRING\",\n                \"ADDITIONAL_PIXELS\": {\n                    \"min\": \"0\",\n                    \"max\": \"10\",\n                    \"fields\": {\n                        \"PIXEL_URL\": \"URL\"\n                    }\n                },\n                \"ADDITIONAL_SCRIPTS\": {\n                    \"min\": \"0\",\n                    \"max\": \"10\",\n                    \"fields\": {\n                        \"SCRIPT_URL\": \"URL\"\n                    }\n                }\n            },\n            \"account_id\": 1,\n            \"create_date\": \"2015-07-21 12:45:49\",\n            \"update_date\": \"2015-07-21 12:45:49\",\n            \"alternative_id\": null,\n            \"notes\": null,\n            \"active\": true,\n            \"buzz_key\": \"stingersbx\"\n        }\n    ]\n}"
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    default: true
                  payload:
                    type: array
                    items:
                      type: object
                      properties:
                        creative_template_id:
                          type: integer
                          example: 1
                          default: 0
                        global:
                          type: boolean
                          example: true
                          default: true
                        rendering_key:
                          type: string
                          example: IMAGE
                        creative_type:
                          type: integer
                          example: 0
                          default: 0
                        is_video:
                          type: integer
                          example: 0
                          default: 0
                        creative_attributes:
                          type: object
                          properties:
                            technical:
                              type: object
                              properties:
                                tag_type:
                                  type: array
                                  items:
                                    type: integer
                                    example: 2
                                    default: 0
                        click_required:
                          type: boolean
                          example: true
                          default: true
                        creative_template_name:
                          type: string
                          example: Image template
                        creative_template_content:
                          type: string
                          example: <a href='{{CLICK_URL}}' target='_blank'><img src='{{CUSTOM:IMAGE_NAME:FILE}}' alt='tap here' width='{{WIDTH}}' height='{{HEIGHT}}'></a><img src='{{IMPRESSION_URL}}' width='0' height='0'>{{#ADDITIONAL_PIXELS:0:10<img src='{{CUSTOM:PIXEL_URL:URL}}' width='0' height='0'>/}}{{#ADDITIONAL_SCRIPTS:0:10<script type='text/javascript' src='{{CUSTOM:SCRIPT_URL:URL}}'></script>/}}
                        macro_names:
                          type: object
                          properties:
                            IMAGE_NAME:
                              type: string
                              example: STRING
                            ADDITIONAL_PIXELS:
                              type: object
                              properties:
                                min:
                                  type: string
                                  example: '0'
                                max:
                                  type: string
                                  example: '10'
                                fields:
                                  type: object
                                  properties:
                                    PIXEL_URL:
                                      type: string
                                      example: URL
                            ADDITIONAL_SCRIPTS:
                              type: object
                              properties:
                                min:
                                  type: string
                                  example: '0'
                                max:
                                  type: string
                                  example: '10'
                                fields:
                                  type: object
                                  properties:
                                    SCRIPT_URL:
                                      type: string
                                      example: URL
                        account_id:
                          type: integer
                          example: 1
                          default: 0
                        create_date:
                          type: string
                          example: '2015-07-21 12:45:49'
                        update_date:
                          type: string
                          example: '2015-07-21 12:45:49'
                        alternative_id: {}
                        notes: {}
                        active:
                          type: boolean
                          example: true
                          default: true
                        buzz_key:
                          type: string
                          example: stingersbx
      deprecated: false
      x-readme:
        code-samples:
        - language: curl
          code: curl -X GET "[host]/rest/creative_template" -b cookies.txt -d '{"creative_template_id":1}'
        samples-languages:
        - curl
      tags:
      - Creative Template
x-readme:
  headers: []
  explorer-enabled: true
  proxy-enabled: true
x-readme-fauxas: true
